*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #eb4758;
    --main-teks: #7d494e;
}
body{
    background-color: rgb(246, 220, 229);
}

body .flower{
    background-color: pink;
}
body .benefit{
    background-color: rgba(236, 231, 231, 0.952);
}

.flower{
    .navbar{
        .navbar-brand{
            .flower{
                width: 90px;
                margin-left: 20px;
            }
        }
    }        .collapse{
        ul{
            .nav-item{
                margin-right: 30px;
                .nav-link{
                    margin-left: 30px;
                    font-weight: 500;
                    font-size: 20px;
                    color: #6D6F77;
                }:hover{
                    color: #211b3d;
                }
                .active{
                    color:var(--main-color);
                }
            }
        }
    }
}

//Hero-section

.hero-section{
    margin-top: 50px;
    margin-bottom: 50px;
    .row{
        .content-hero{
            h2{
                font-weight: 600;
                font-size: 16px;
                color: var(--main-color);
                font-size: 30px;

                span{
                    color: var(--main-teks);
                    font-size: 30px;
                    font-weight: 600;
                }

            }

            .desc{
                font-weight: 500;
                font-size: 16px;
                color: #5B5575;
                margin-bottom: 30px;


            }
        }

        @media (max-width: 912px) {
            .hero-image{
                margin-top: 30px;
            }
        }
    }
}

//End hero section

// Benefit
.benefit{
    .benefit-teks{
        .face{
            margin-bottom: 20px;
            padding-top: 50px;
            font-size: 20px;
            font-weight: 600;
            color: var(--main-teks);
        }
        .teks{
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            color: #5B5575;
        }

    }
    .benefit-face{
        .row{
            padding-top: 10px;
            padding-bottom: 50px;
            .face-fit{
                .img-fluid{
                    width: 330px;
                }
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                color: var(--main-teks);
            }
        }
    }
}
// End Benefit